<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
</head>
<body>
    <form action="/user" method="post">
        <% users.forEach(user => { %>
            <input type="submit" name="user" value="<%= user.name %>">
        <% }); %>
        <input type="submit" name="add" value="Add User">
    </form>
    <% notes.forEach((note) => {%>
        <form method="post">
            <label for="title">Book Title</label>
            <input type="text" name="title" value="<%= note.title %>"><br>
            <label for="date">Date Read</label>
            <input type="date" name="date" value="<%= note.date %>"><br>
            <label for="notes">Notes</label>
            <textarea name="notes"><%= note.notes %></textarea>
            <label for="rating">Rating /10</label>
            <input type="number" name="title" value="<%= note.rating %>"><br>
        </form>
    <% }) %>
</body>
</html>